<section class="section">
    <h1 class="title">Mental Health in the South Asian Community</h1>
    <h6 class="subtitle is-6">by Farihah Begum Shukie</h6>
    <p><b>Trigger/content warning</b>: seasonal affective disorder, generalized anxiety disorder, panic disorder, mental health mentions.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>With fall right around the corner here on the East Coast in the States, I am taking caution to take care of my 
                mental health. Although I haven't been diagnosed, I have a strong feeling that I developed Seasonal Affective 
                Disorder once I moved from a big city to a quiet suburb near the beach. I always loved winter when I was 
                younger especially growing up in NYC. The holiday season was especially spectacular with all the gorgeous 
                lights and decorations. Nowadays, living near the Jersey Shore has made summer my new favorite time of the year. 
                During the winters here, I get depressed, lonely, and homesick.<br>
            </p>

            <p>
                <br>Of course, this is definitely not the first time in my life I had to deal with a mental health issue. 
                In college, I was diagnosed with General Anxiety Disorder and Panic Disorder. It made sense. Even though 
                I mostly enjoyed what I was learning in college, the pressures of being an engineering student made me feel 
                anxious most of the time and I had a panic attack before every exam in the first three years.<br>
            </p>

            <p>
                <br>That was the first time in my life I decided to take care of my mental health. I made a conscious effort to 
                sleep well, to eat healthier, to practice more yoga and meditation, and perhaps the most important thing I did was 
                seeing a therapist. While I still hit many road bumps in preventing my panic attacks, all of these things helped my 
                anxiety immensely.<br>
            </p>

            <p>
                <br>But perhaps the hardest thing about going through this period of my life was having to tell my parents about it. 
                In South Asian culture, taking care of your mental health is taboo. People don’t want to address mental health issues 
                because they don't think it exists. When I told my parents I was going to therapy they almost seemed like they didn't 
                believe me. Why do I need to see a professional just because I get butterflies before an exam? Even though I cared 
                about what they thought, I knew that my anxiety was real. Furthermore, I knew I wanted to be an engineer, to get my 
                degree with my mental health intact. So I kept going even though I felt their judgment.<br>
            </p>

            <p>
                <br>One morning I remember waking up knowing full well I had an exam to take that I had studied for days in advance. 
                But that morning I couldn't remember one thing I studied. My mind went blank and my hands were shaking. I was having a 
                panic attack but I didn't know how to get rid of it so I went on with my day like normal.  I was quietly trying to 
                eat breakfast at the table when suddenly my father put his hand on my head to wish me all the best for my exam. 
                Suddenly, I couldn't take it anymore and I started to cry. I started to hug him (something we didn't often do in 
                my household) and I felt a rush of sadness inundate me. My parents were the two people I went to most often whenever 
                I was facing a problem. If they don't believe what I am going through is real then who will?<br>
            </p>
        </div>

        <div class="column">
            <p><br><img src="../../../../assets/images/farihah1.png"><br></p>

            <p>
                <br>From that day on my parents always asked to make sure I continued therapy. I think seeing me panic scared 
                them into realizing that panic attacks are real, mental health issues are real. From then on until the beginning 
                of the senior year I called my dad before every exam to listen to his voice. His voice and words of encouragement 
                soothed my mind and put me at ease. Somehow I was able to pass almost every exam, which in turn I was able to get 
                my degree and still maintain excellent grades. Sometimes I look back and I wonder how I was able to do that even 
                though my panic attacks were so intense.<br>
            </p>

            <p>
                <br>I wonder if without my parents' support if I could have achieved what I did. To be honest I do think it would have 
                been possible, but definitely much harder. I consider myself to be lucky to have parents who could put aside their 
                cultural beliefs because they wanted to make sure their daughter was okay. I sincerely hope that more South Asian 
                parents or parents from any culture, for that matter, can do that for their children. Anxiety is indeed very real 
                and speaking up about it should not be taboo.<br>
            </p>

            <p>Image courtesy of <a href="https://www.instagram.com/kri.sta/">@kri.sta</a>.</p>
        </div>
    </div>
</section>