<section class="section">
    <h1 class="title">Postgrad Depression</h1>
    <h6 class="subtitle is-6">by Huma Khursheed</h6>
    <p><b>Trigger/content warning</b>: depression, post-undergraduate decisions.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>As I looked out into the sea of light blue graduation cap and gowns, a sense of dread overcame me. 
                I was surrounded by a few of the greatest friends I had my most memorable moments with during my four years in the 
                little town on top of the Hill and thought to myself, “What if this is it?” As I took a long look at some of the 
                people who passed by, I saw flashbacks of the moments we shared whether it was watching a Bollywood film, going to a 
                student organization meeting, or simply grabbing Cookout after a night out, and realized I will never see some of those 
                people again. In that moment, I was a ball of the emotions I spent my entire senior year avoiding. This was it.<br>
            </p>

            <p>
                <br>When I got home that afternoon, I could not hold my composure any longer. My tears came like waves during a 
                hurricane, destroying everything in their path, uplifting the roots I spent four years establishing, and carrying 
                the remnants of my college career away. Some pieces of my former life would stay where they were, although clearly 
                in need of some repair. The rest would return to the ocean never to be found again, such as the comfort that seventeen 
                years of schooling provided to me. As I explained to my parents that what I felt was the beginning of a depression that 
                would continue to haunt me, they scoffed. <i>“This is a moment of celebration. You’re fine. How can you be depressed when 
                    you did the right thing?”</i> And while I knew they were right, their attempt to reassure me left me feeling even more isolated 
                and guilty.<br>
            </p>

            <p>
                <br>My guilt stemmed from how trivial my experience was compared to that of my parent’s. My strong, courageous parents 
                left their entire lives behind to begin anew in a foreign land that did not enthusiastically welcome them with open arms. 
                What a privilege it is to be worried about the future that lies ahead when I’ve already built the foundation for it, 
                meanwhile, my parents came to this country with absolutely nothing. This guilt, a common experience among the South Asian 
                diaspora, led to me internalizing my emotions and failing to seek help for what I felt.<br>
            </p>

            <p>
                <br>You see, in my culture, we talk a great deal about success and meeting one’s goals. Yet we never talk about the journey 
                to achieve those means nor what follows. We are raised to believe that our entire lives are shaped by the degrees we get, 
                the jobs that follow, and the families we marry into. No one seems to talk about how difficult it is to go through things 
                like college as a first-generation student, or graduate school, or the job application process. This isolation I felt from 
                the lack of community support only intensified what I felt.<br>
            </p>

            <p>
                <br>Over the summer, I would learn about the wave that I was now riding called “post-graduate depression.” While it is not 
                a medical term, it is widely recognized as the depressive period that follows students after they graduate and enter the 
                “real world,” with big ambitions and perhaps distorted expectations. I felt disillusioned by the educators who told me I 
                could be anything that I wanted, angry towards the companies that were unwilling to take chances on new graduates, and 
                anxious as the sole child of immigrants who felt the responsibility to provide for them. As I learned about how common this 
                phenomenon is amongst my peers, I also realized how limited the research is on depression for post-graduate students. 
                It was seldom discussed and often avoided in my social circles. Being South Asian made this experience even more isolating, 
                because our society glorifies university education as the pathway to lucrative careers, and yet I was struggling to figure 
                out what path to take that would fit my interests but also fulfill my desire to please my parents.<br>
            </p>
        </div>
        <div class="column">
            <p><br><img src="../../../../assets/images/uncgrad.png"><br></p>

            <p>
                <br>As I learned about other people’s experiences during this time, I grew more and and more anxious about the future. 
                I spent the summer interviewing, applying to jobs, turning down offers, and going in circles about what I would be 
                happy doing. I had coffee dates, informational interviews, LinkedIn chats, and met amazing people in the field I’ve 
                always wanted to pursue. My moments of excitement were stolen by anxiety in the event my plan would fail. I found myself 
                constantly comparing myself to my peers or second-guessing my decision to postpone grad school. I was sleeping all day, 
                withdrawn, and unable to do the things I once enjoyed. I knew I needed an outlet but unfortunately felt like I had none. 
                Most of my friends did not have the experience of being immigrants, or South Asian, and often found it difficult to 
                understand my fear of failing my parents, or the pressure to accomplish everything all at once so I can finally 
                “settle down.”<br>
            </p>

            <p>
                <br>In my search for a community, I was referred by one of my sorority sisters to a South Asian mental health awareness 
                organization “MannMukti.” At first, I was skeptical. I was added to a Facebook page full of strangers whom I’ve never met 
                but encouraged me to be vulnerable. I read through posts and found that so many people who shared my same background also 
                were experiencing similar things, whether it was changing careers or struggling with depression. These were people who 
                looked like me, felt the same way, and offered advice coming from a place of understanding. This feeling of community 
                and acceptance was refreshing and soon enough, I was referring all of my friends to this support group.<br>
            </p>
            
            <p>
                <br>In MannMukti, I realized just how important representation is when it comes to seeking mental healthcare. 
                hrough the support of the people I met from this community, I was able to develop healthier habits, positive 
                thinking patterns, and also met friends who are helping me navigate the graduate school application process.<br>
            </p>

            <p>
                <br>Post-graduate depression is a difficult experience. Very few people know it even exists. Imagine going through 
                something life-changing and not knowing the words to describe it or having the community to support you through it. 
                I suppose my message is this: I never thought I’d see the light at the end of the tunnel. Every day felt like torture. 
                Every step I took to get to a better place was concerted and took all the strength I had in me. However, I am here and 
                thriving (I think!) and anyone who experiences this will too.<br>

            </p>
        </div>
    </div>
</section>