$blue: #800020;
$pink: #67AE5C;
$pink-invert: floralwhite;
$font-family: 'Amiri';
$primary: #800020;
$primary-invert: #FFD700;
$family-primary: 'Amiri';
$danger: #800020;
$success: #67AE5C;

.card-header {
    font-family: 'Amiri';
    font-weight: normal;
    font-size: large;
}

h1, h2, h3, h4, h5, h6, label, .content {
    font-family: 'Amiri';
    font-weight: normal;
    font-size: medium
}

@import "bulma";
@import url('https://fonts.googleapis.com/css?family=Amiri');