<section class="section">
    <div class="columns">
        <div class="column">     
            <img src="../../../assets/images/red-round-fruit.jpg">
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Mission Statement
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <b>The Pomegranate Society</b> aims towards gender equality and the elimination of 
                        gender-based discrimination, with a special focus on deterring and eradicating sexual 
                        abuse, crimes, and violence. The aim is to address the stigma around sexual assault, 
                        particularly in the cultural context of MENA and South Asia, and open a platform for 
                        discussion about these topics. The goal is to produce constructive discourse surrounding 
                        the topic, analyze the multidimensional factors that impact victims of these crimes,  
                        and validate the stories for voices that may otherwise not be heard. Feminism, justice, 
                        and healing come in different forms, and there is no story that is a copy of another. 
                        We are here to celebrate the uniqueness that each one of us possesses and take joy in 
                        being outspoken, unapologetic, and sincere.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Call to Action
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        Productive conversation around sexual assault is required now more than ever. 
                        A call to action on how to handle these complex situations and interactions 
                        need to be heard. Your stories deserve to be told and shared on your terms.
                    </div>
                    <div class="content">
                        Restorative justice can be a very imperative tool in such productive conversation. 
                        This form of justice aims to repair the harm caused by crime. When victims, survivors,
                        perpetrators, and the communities meet together as a whole to discuss solutions, innovative
                        and transformational solutions can possibly be created. 
                    </div>
                </div>
            </div>
        </div>
        <div class="column">     
            <img src="../../../assets/images/red-pomegranate.jpg">
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column">     
            <img src="../../../assets/images/shilpa.JPG">
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Shilpa Kancharla</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        I'm a first-generation South Asian immigrant living in North Carolina. I study computer science and astrophysics, 
                        and have a passion for using machine learning to understand how the universe works. In my free time, I love to 
                        draw, paint, swim, and study foreign language. I have an interest in learning about how we can help our communities achieve 
                        restorative justice on a grassroots level through telling stories and sharing cultural experiences. I created the 
                        Pomegranate Society with that specific interest in mind, and I hope that it always is an organization that 
                        fosters that very understanding.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
