<section class="section">
    <h1 class="title">Sexual Assault in Relation to Feminism - An Interview</h1>
    <h6 class="subtitle is-6">by Nina Dakoriya</h6>
    <p><b>Trigger/content warning</b>: sexual assault.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>The subject of this interview is a first-year student at the University of North Carolina, Chapel Hill.<br>
            </p>

            <p><br><img src="../../../../assets/images/sainterview1.jpg"><br></p>

            <p>
                <br>I chose to interview a UNC-CH first year student because UNC is generally considered to be a liberal campus 
                with resources available for victims of assault, so I wanted to reflect the perspective of a college newcomer who is 
                just beginning to be more exposed to issues relevant to sexual assault than before.  Starting college can open people 
                up to more experiences and different types of people who tend to impact our own perspectives on different issues.<br>
            </p>

            <p>
                <br>he following questions are meant to reflect the perspective of an American college student who is a woman of color.  
                Our culture has such a profound impact on our identities, and I chose these questions to show the perspective of someone 
                who is bicultural to show the differing views that different cultures have on sexual assault and feminism, along with 
                blending the views of those different cultures.  I also wanted the questions to touch on intersectionality and the 
                problems associated with the discussion of sexual assault because I feel that the #MeToo movement can spread more 
                effectively so that more people are aware of the problems that sexual assault poses on society.<br>
            </p>

            <p>
                <br><b>What do you know about the #MeToo movement and what are your opinions on the movement?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> I support the movement because it is now giving sexual assault victims a platform to come out 
                and share their stories, which was uncommon before. It is being led by celebrities, which is great because the movement 
                has to start somewhere and celebrities are good at getting attention for major situations, but the movement needs to 
                spread more to common people who are less privileged.<br>
            </p>

            <p>
                <br><b>How would you describe your culture/cultural background, and how has your culture shaped your views on feminism and the #MeToo movement?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> I am of Indian descent but raised in the USA, so I feel like my own cultural identity is a mix of my 
                Indian and American backgrounds. I feel like rape culture is very present in India, but I do not experience the same in 
                my family.  I feel like my family is very feminist and open-minded, but I know that not everyone has the same privilege 
                that I do. I think that I am more supportive of feminism and the #MeToo movement because I am aware of how women around 
                the world are treated.  It is nice having a more global perspective on the issue.<br>
            </p>

            <p>
                <br><b>Interviewer comment</b>: In my experience, the discourse around sexual assault is largely dominated by white women, 
                which is not necessarily a bad thing, but the media often alienates the voices of women of color and other groups of women 
                from marginalized communities.  I think that this may also be due to how women from other backgrounds/cultures may be less 
                willing to talk about their experiences, but this should change as anyone, regardless of their gender/sexuality/race/culture, 
                can be a feminist and how our different identities can impact our views to unite us as feminists.<br>
            </p>

            <p>
                <br><b>What are your views on feminism?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> I consider myself a feminist but I feel like a lot of people don’t understand what it means.  
                People either believe that all feminists want to be superior than men and/or look overly masculine, which is not 
                really true.  As a woman of color, I feel like feminism should be more intersectional because people should care about 
                all social issues from a variety of perspectives.<br>
            </p>

            <p><br><img src="../../../../assets/images/intersectionalfeminism.jpg" class="center"><br></p>

            <p>
                <br><b>What do you think should be done to improve the discourse surrounding sexual assault?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> I feel like more people should acknowledge that sexual assault is a real issue that does happen. 
                There should be more attention on the problems of sexual assault in a college campus. People need to give victims a safe 
                space to share their experiences instead of telling them how to avoid being sexually assaulted, especially for women. 
                The discussion should make victims feel less guilty and more supported. Also, there should be a greater discussion on 
                how sexual assault impacts men.<br>
            </p>

            <p>
                <br><b>What do you think are the current problems in the way that feminism and the #MeToo movement is discussed and perceived in your culture?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> I think that in Indian culture, people think that sexual assault is not a serious issue and that victims who come forward are being overly sensitive.  People need to be more aware of the implications of assault and teach their kids how to better respect people. Feminism is also
                an issue that is not taken seriously enough, but should be.<br>
            </p>

            <p>
                <br><b>What roadblocks do you think we have yet to overcome to achieve gender equality?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> A lot of people still don’t recognize that gender inequality and feminism are serious issues, so the first 
                step is spreading a more global awareness about the movement.  I think that implementing more effective policies that improve 
                gender equality is also essential. Education is also one of the most important tools society needs to empower women and 
                teach people of all genders about multiple issues.<br>
            </p>

            <p>
                <br><b>How do you think different generations perceive the #MeToo movement and issues regarding feminism overall?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> It is definitely more supported by Gen-Z because we understand it the most.  I think that older 
                generations don’t understand it as much because they think that our generation is hypersensitive and overdramatic.  
                I find that women are not always the most supportive of other women when it comes to issues regarding feminism and sexual 
                assault. I also feel as if women, especially older women, who feel like they have not experienced discrimination because of 
                their gender can also be less likely to support feminism because they do not understand its implications.<br>
            </p>

            <p>
                <br><b>Why do you think sexual assault and feminism are major issues globally, and how does it impact different demographics/cultures?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> Throughout history, women have usually been seen as inferior to men, so cultures that do not focus 
                as much on education and innovation may tend to be more patriarchal because women do not often have a platform to speak 
                for themselves.  This is definitely changing now because there is a more global awareness of these situations and more 
                victims are speaking about their experiences.<br>
            </p>

            <p>
                <br><b>How do you think starting college at UNC has changed the way you understand issues about sexual assault and gender equality?</b><br>
            </p>

            <p class="quote">
                <br><b>Student:</b> I feel like I was definitely aware and cared about these issues before coming to college, but I am more 
                exposed to issues about sexual assault and gender equality now as a college student than I was in high school.  It was a weird 
                transition at first from high school to college because I am surrounded by students at UNC who are passionate about a wide
                array of social issues, and that exposure has empowered me as a woman to be more open about my beliefs.  I didn’t realize how 
                prevalent cases of sexual assault are until coming to college because it is so unfortunately common that a girl goes out to a 
                party and gets drugged and/or experiences something that she did not really consent to.  I feel like college has made me more 
                of an advocate for these issues than before and I have been able to learn more.<br>
            </p>

            <p><br><img src="../../../../assets/images/feminisminindia.jpg" class="center"><br></p>
        </div>
    </div>
</section>