<section class="section">
    <h1 class="title">My TED Talk: A #MeToo Story</h1>
    <p><b>Trigger/conent warning:</b> sexual assault.</p>
    <p><b>Disclaimer:</b> The names in this story have been changed by the author to protect their privacy.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>10 years ago I was sexually assaulted at work by my boss. I need to tell my story.<br>
            </p>

            <p>
                <br>I was working as an assistant and figure model for a well-known and well-respected artist named Ted in my city. 
                I had been an artist and nude figure model in our community for a long time and I met Ted through this community. 
                A good friend of mine, Samantha, modeled for him and hooked me up with a gig. 
                Both being artists, Ted and I hit it off immediately even though he was twice my age. 
                I had just left the health food store where I had worked for 5 years and was looking for 
                something else to do when he offered me a job at his studio. By this time, I had modeled for 
                Ted repeatedly while only the two of us were at the studio. I had felt completely comfortable
                and respected while doing so, so I took the job. I thought Ted appreciated my talent, 
                respected me as an artist, and above all, was my friend.<br>
            </p>

            <p>
                <br>And then things took a turn. 
                I had stumbled on a Pink Floyd poster of the back catalog where the album covers are painted on the backs of nude models. 
                Ted and I had been messing around with photography so I thought it would be cool if he painted my body and we did 
                a series of photographs.  I showed him the Pink Floyd poster and we got to work. 
                Neither one of us had done anything like (which in my enthusiasm I had not taken into consideration) 
                so I had no idea what to expect and he had no idea what he was doing.<br>
            </p>

            <p>
                <br>My first mistake was lying down on the table to be painted. 
                I should have remained sitting but hindsight is 20/20 and time only flows in one direction. 
                Ted started painting on my stomach which was not unpleasant or uncomfortable. 
                It was when he decided to clean the canvas and start over that things got out of hand. 
                I should have demanded that I be allowed to clean myself off but it never occurred to me that he would cross a line. 
                But he did.  He kept using “refreshing the canvas” as an excuse to squeeze my boobs. 
                There was a washcloth between his skin and mine but it didn’t matter. It was creepy as fuck and not what I was expecting.<br>
            </p>

            <p>
                <br>I felt incredibly violated but at this point I was just in utter disbelief and was sure I was misinterpreting things. 
                I thought if I rolled over on my stomach and had him paint my back, he would no longer have an excuse to clean my boobs 
                and things would go back to normal. It seemed okay and then he started painting things on my back and wanted me to guess 
                what he had painted. I really thought that was weird.  It was almost like a silly pre-sex game. 
                It was so ridiculous and disturbing I was having a hard time processing what was happening. 
                At some point he put the paint brush down and began running his finger along the undersides of my butt cheeks 
                and along my inner thighs. I froze. It was then I realized I was not imagining things. This was happening and I
                had to make it stop.<br>
            </p>

            <p>
                <br>Even though I had every right to DEMAND that he stop touching me immediately, I made an excuse about being cold 
                and abruptly left the room to put my clothes on.  And then I fucking STAYED AT WORK for two more hours.  
                Why??  When I finally got home, I immediately called my best friend, Samantha, the one who also modeled 
                for Ted and the one who had hooked me up with him. I needed someone to talk to and she seemed the obvious choice. 
                I told her what happened. At some point I started crying. When I was finished, she said “why are you crying?” like 
                it was stupid for me to be upset.  I asked her if I could come over because I really needed a friend and did not want 
                to be alone.  She said she had plans and would talk to me later. That was the end of our friendship incidentally.<br>

            </p>

            <p>
                <br>When Samantha refused to validate my feelings, I shut down and was too afraid to tell anyone else what happened.  
                I did not mention it when boyfriend got home later. By then I had had time to examine the events and had decided if 
                I told him, he would perceive it as my fault because A) I put myself in that position by being a nude figure model and B) 
                it was my fault because I was the one who suggested that Ted paint me.  My conversation with Samantha only further 
                cemented this idea in my head, so I acted normal on the outside and just freaked out on the inside like I have 
                trained myself to do.<br>
            </p>

            <p>
                <br>I did not let Ted off the hook though. Not only was I crushed because he had broken my trust, I was also 
                raging inside over what he had done.  I have autism and struggle to express myself verbally in stressful situations. 
                I believe this is one of the reasons I had such a hard time speaking out during the incident. 
                I am much more comfortable with the written word so I emailed him, secretly hoped his wife had access to his 
                email and would read it.<br>
            </p>

            <p>
                <br>In my email, I let him know that what he had done was not okay. Ted was newly married and I was in an LTR.
                He was twice my age and had kids the same age as me. I had never given him any indication I wanted to fool around. 
                I was incensed that he had disrespected his wife whom I liked and whose fat salary had made it possible for Ted to
                quit his job and pursue art full time. I was also mad because he had disrespected my relationship status as well 
                even though he was friendly with my SO.  So I let him have it but I did not quit my job. I could not afford to. 
                I even continued to model for him as long as he understood that he could not touch me. I needed the money.<br>
            </p>
        </div>
        <div class="column">
            <p><br><img src="../../../../assets/images/backs.png"><br></p>
            <p>
                <br>Shortly after the whole thing happened, the economy collapsed and he let me go.  When he called me, 
                the first thing he said was “I have something unpleasant to discuss.”  My first thought was this his wife 
                had read the email I had sent and shit was about to get ugly.  And then he fired me and I was so relieved. 
                He said he could no longer afford to pay me and that was probably true since the economy really was collapsing, 
                but I cannot help but wonder if what happened between us played a part.<br>
            </p>

            <p>
                <br>Around Halloween that year, karma paid Samantha a visit. Samantha was newly single, so Ted invited her to a 
                party to meet some new people.  Ted got drunk and let Samantha know that he “thought about her all the time” 
                in a very creepy way.  She had been his main model and had spent countless hours with him in the studio. 
                She thought of him as a friend, thought there was mutual respect, and was horrified to discover otherwise. 
                The implications of his words freaked her out and Samantha immediately ceased contact with him.<br>
            </p>
            
            <p>
                <br>Shortly thereafter, I had the misfortune of running into him in the grocery store parking lot was forced into a hug. 
                It was incredibly uncomfortable and I really wish I had stood my ground and said “don’t touch me.” 
                That Christmas, both Samantha and I received $50 gift cards from Ted to our favorite Japanese restaurant through the mail. 
                I don’t know if it was hush money or an apology, but it sure was not adequate compensation for what I went through and 
                it sure was not enough money to make me keep my mouth shut. I did not go public but I tell other friends who modeled 
                to stay away from Ted.<br>
            </p>

            <p>
                <br>It took me a really long time to process what happened to me as sexual assault.  I have long felt that, because I 
                initiated the painting session, it was to some degree my fault.  I am done with that now.  Yes, I said he could paint 
                my SKIN with a BRUSH.  I never said he could touch my body with his fingers.  I never gave him permission to touch 
                anything but my back and stomach and only with a BRUSH.  Ted was at fault, not me.  He could have easily asked 
                for my consent but chose not to.  He is the one who could not maintain professionalism and crossed a line.<br>
            </p>

            <p>
                <br>That he was my boss makes what he did even more despicable.  I am coming forward now, even though it is anonymously, 
                because I need to tell my story in full.  In the past when I have shared this story, I have always left out the part 
                where I initiated the painting session because I was too afraid people would blame me.  My SO and I are still together 
                10 years later and it was just this year, during the full swing of “me, too,” that I was able to even tell him about it.
                And I still left out the most shameful part.<br>
            </p>

            <p>
                <br>I think what pisses me off about the whole thing the most is that it ruined overalls for me. 
                I had worn overalls to work on the day that the shit went down. I have very strong associative memory and to this day, 
                I will no longer wear overalls because they remind me of what Ted did to me.  If I even see overalls on somebody, 
                I immediately think “rape pants” and it takes me right back to that day.  Really sucks.  I used to love overalls 
                but not so much anymore, all because of a douche bag named Ted.<br>
            </p>
        </div>
    </div>