<section class="section">
    <h1 class="title">Truths</h1>
    <p><b>Trigger/content warning:</b> graphic description of rape, sexual assault, physical assault, slut shaming, mentions of PTSD.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>November 14, 2014 was a Friday night during my freshman year of college. I was studying for my chemistry exam 
                that was on the following Monday. My roommate was gone for the weekend. I was wearing exercise shorts and a 
                sports bra, with a sweatshirt on top. There was a guy who lived in my dorm a few floors above me; we were decent 
                friends and had hung out a couple of times alone before. In addition, I was friends with a lot of his friends 
                at the time. He texted me and asked if I wanted to hang out that night, and I told him I would rather stay in that 
                night because I wanted to get some work done before bed. A few minutes later, around ten o’clock, I heard a knock on 
                my dorm door. I opened it without thinking twice, as I thought it was my roommate. Upon opening the door, I saw the 
                guy who had texted me.<br>
            </p>

            <p>
                <br>After exchanging some uncomfortable and awkward greetings, he asked me why I had been distant from him.<br>
            </p>

            <p>
                <br><i>“What do you mean by distant? I just have some work that I’ve been doing. Got an exam on Monday”</i> I said.<br>
            </p>

            <p>
                <br><i>“You’re studying in that outfit? You can’t be serious right now...”</i> I said.<br>
            </p>

            <p>
                <br>I squinted my eyes and looked at him. I’m always in a sports bra and shorts when I’m in my room. It’s my room — 
                I should be able to wear whatever I want without some idiot questioning me like this. None of the people I lived with 
                cared, but this guy was actually commenting on it? It just didn’t add up in my mind. He then pushed me aside and walked 
                inside my room. I didn’t invite him in and it wasn’t cool of him to do that. I tried to verbally express my annoyance 
                with this, but before I knew it, he climbed into my bed. I get so annoyed when people touch my items or personal 
                belongings without permission and it really irritated me when I saw him ruin my perfectly-made bed and step on my 
                blankets with his shoes on.<br>
            </p>

            <p>
                <br><i>“Can you just get off my bed? I made it and cleaned everything this morning and I’d really just appreciate it if you left 
                right now,”</i> I said this in a really annoyed tone. I deserve to demand for him to at least not be a jerk. I walked towards my bed, 
                and when I got closer, I started saying “We can talk later—” ...but my voice abruptly broke off because he pulled my hair 
                and one of my arms into the bed, and began undressing and used his weight to pin me down.<br>
            </p>

            <p>
                <br>I wasn’t scared at first. I was in pure shock, and nothing made sense. I was like <i>"What the hell are you doing right now?”</i>
                He said, <i>“I’m doing exactly what both of us want.</i><br>
            </p>

            <p>
                <br><i>“I don’t want this! I asked you to leave!”</i> I screamed this and just started sobbing because I think I was 
                putting together what was happening. I was being assaulted, and this guy was overpowering me physically. In order to 
                get me to quiet down, he started kissing me, and then I bit his upper lip so hard in a bout of self-defense that 
                it started bleeding. He didn’t take kindly to this, and punched me in the face once and began choking me. I
                could see some sort of rage in his bloodshot eyes. I had this acidic taste in my mouth. I don’t think my body could 
                handle the physical trauma I had just incurred, so I don’t remember the rest. I think I blacked out.<br>
            </p>

            <p>
                <br>After I woke up, I felt this pain in between my legs. I had never had sex before, so this was a very new feeling and 
                I knew it probably was only from one thing: he had raped me and I went unconscious. I looked at the clock and it was past 
                eleven o’clock. I was on the edge of the bed and about to fall off, and I struggled to get up. I just couldn’t, 
                so I stayed there. Next to me, I found him sleeping soundly. I stayed up the entire night. I was utterly paralyzed and 
                confused. I still wasn’t exactly scared, but I was just in shock. I replayed the events that happened, and tried to 
                desperately figure out how I got into the position I was. Before I knew it, it was seven o’clock in the morning. 
                I heard shuffling on the side of the bed he was on, and I acted like I was sleeping. He put on his clothes, 
                kissed me on my forehead and left. He kissed me on my forehead, as if he loved me and we were dating for a long time, 
                but in reality he had just brutally raped me after he made me unconscious on purpose. He was completely comfortable 
                with everything that happened, and I think that was the scariest and most disturbing part of it all.<br>
            </p>

            <p>
                <br>He tried to contact me in the days coming. I ignored all his texts and wouldn’t come back to my room unless my 
                roommate was there. I felt so torn on the inside. In the middle of my exam two days after my rape, I experienced 
                breathing difficulties because I kept replaying what I remembered from the incident. I had to leave the exam hall 
                and reschedule a make-up exam. I started falling behind on my work because of my constant panic attacks. I stopped 
                going to swimming practice and art club because I couldn’t go back to my normal flow of life.<br>
            </p>

            <p>
                <br>I knew that I didn’t consent. I explicitly told him to leave and was visibly annoyed with him. He made me go unconscious 
                for some time. These were facts and couldn’t be debated. In addition, I didn’t know that was going to happen. It really 
                wasn’t my fault. I didn’t feel any shame about what had happened to me, until the comments from other people started 
                stabbing me in the brain the next year.<br>
            </p>

            <p>
                <br>Even though I didn’t feel any shame, I still wanted to be validated about my experiences. I did not tell anyone about 
                what happened for a year. I confided in a close friend shortly after, and she asked me what I was wearing. She said 
                <i>"I guess what you were wearing was kind of seductive so maybe he thought it was an invitation?”</i> 
                I was really confused and said <i>“Yeah, but I still didn’t consent to it? So it shouldn’t have happened.”</i> 
                She said <i>“You attract people like that. He never treated me like that or did anything bad to anyone else so I don’t know dude.”</i> 
                I felt absolutely crushed by this comment. It was as if I was a magnet for abuse and I warranted all this. 
                Through her words and inflection, she implied it happened to me because I did something to deserve this because 
                he hadn’t done it to anyone else. It was my own affect that lead to this according to her.<br>
            </p>


        </div>

        <div class="column">

            <p><br><img src="../../../../assets/images/red-pomegranate.jpg"><br></p>

            <p>
                <br>I still really needed validation of some sort even after my friend’s comment, so I told a couple more people. 
                They looked at me in disgust and told me I was straight up lying because my rapist would never do anything like that. 
                <i>“He’s not that kind of guy, you know? I don’t see why you’re lying and causing drama”</i> they said. People started 
                gossiping about what I said, and I immediately regretted telling anyone. One of his friends said 
                <i>“Yo, what you’ve been saying is messed up. One day, I hope you get raped and realize the gravity of your actions and words.”</i> 
                This completely left me shattered. Raped again? My heart can’t take it. It could barely take it the first time with the 
                flood of my PTSD symptoms, decline in academic success, gain in weight, and loss of interest in things that I loved: art, 
                swimming, and mathematics. I hadn’t felt like myself for a year at that point. I couldn’t bear to hear that I deserve to be 
                raped, or actually experience it.<br>
            </p>

            <p>
                <br>I left behind all those people in that friend group and never heard from any of them again after sophomore year. 
                I requested a single room my junior year, on the opposite side of campus. It was during this time I realized that only 
                I could know how I felt about all this. That was my one truth, my perspective that no one else could completely fathom. 
                What everyone else said was either an opinion or just simply false. Even though I went unconscious for some time, 
                I knew how I felt.<br>
            </p>

            <p>
                <br>I desperately needed to reclaim my narrative, time, and my passion I once had for life. I needed some sort of outlet 
                for all my anger and sadness that I experienced because of my rapist and those who had made unwarranted and invalidating 
                comments towards me. During all of this, I realized that I had been missing out: me. I had missed focusing on myself. 
                I knew I wasn’t living up to my fullest potential. I stopped drawing, painting, swimming, and studying properly because 
                I was so fixated on feeling powerless and worthless. I’ve inherited so much trauma from this incident. My experience 
                with rape was so multifaceted and I will always miss some details when it comes to writing about it. I felt severe 
                panic attacks and symptoms of PTSD for the last couple of years and spent a lot of money visiting therapists I couldn’t 
                afford with my college debt. I’ve lost sleep, money, time, and most importantly, myself during those years.<br>
            </p>

            <p>
                <br>I learned that not everyone will believe or understand you. When you try to get people to hear and understand you, 
                it can be so emotionally and mentally exhaustive. Not everyone will understand the choices you made or the actions you’ve 
                performed which are so necessary for survival. You really have two choices: you can try to get everyone to understand 
                you and win their hearts over. Or, you could choose your conscience. Choose the second and choose yourself. When you 
                choose yourself, you will win every time. I want you to win every time.<br>
            </p>

            <p>
                <br>Choosing yourself doesn’t necessarily mean that you stop telling your story. You learn that when love and validation 
                are no longer served in the place you’re in, you give yourself the strength to leave. You inherently deserve better 
                and you deserve to be validated. You resist unproductive discourse surrounding sexual assault and refuse to give it a 
                second of your time. You gain power for yourself from this, and you choose yourself.<br>
            </p>

            <p>
                <br>I wanted to begin a journey of empowering myself and build up something that was new to me: resistance. 
                However, with all of this trauma, I’ve learned to gain some resistance. I’ve learned to <a href="https://www.usnews.com/opinion/civil-wars/articles/2018-01-10/women-dont-lie-about-being-raped">stand by the truth</a> 
                and believe other people when they say they’ve experienced sexual violence. I encourage other people to do the same, and really 
                change how they approach situations regarding sexual violence. In the process, I have made it a mission to resist any 
                type of unproductive discourse when it comes to sexual violence. My existence is a form of resistance.<br>
            </p>

            <p>
                <br>I’ve gone back to creating art, swimming, and working hard academically. That is my resistance. 
                The truth is, it doesn’t matter what I was wearing or how he treated other people. I did not thing to 
                warrant being raped or receiving those comments. People can choose not to believe me and call me a liar. 
                Any time I start to believe these comments or let them bother me, I tell myself that they will never know 
                the absolute truth, which is my perspective of how I experienced this event. Knowing the absolute truth 
                remains my strength and my form raw resistance.<br>
            </p>

        </div>
    </div>