<section class="section">
    <h1 class="title">Women in Indian Films - A Critique</h1>
    <h6 class="subtitle is-6">by Vaishnavi Siripurapu</h6>
    <p><b>Trigger/content warning</b>: sexual violence, misogyny in Indian films.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br><i>“You don’t get it.”</i><br>
            </p>

            <p>
                <br>I think to myself as I see my Indian-American peers rave about their love for Indian culture. 
                Their deep adoration for Bollywood, for colorful Indian fashion, for stunning religious iconography.<br>
            </p>

            <p>
                <br><i>“Bollywood is so colorful and gorgeous! Indian culture must be beautiful." </i><br>
            </p>

            <p>
                <br><i>"I love going to India! Seeing family and traveling are what I look forward to every summer!" </i><br>
            </p>

            <p>
                <br><i>"You should enjoy your time in India! You’re so lucky! It can't be all that bad." </i><br>
            </p>

            <p>
                <br>I agree, India is a wonderful place for those who can afford its temporary, consumerist pleasures. India has a rich 
                history and culture for the privileged. For those strong enough to handle India's unbearably judgmental social culture or 
                lucky enough to escape it, may the country unveil its beauty. 
                But <a href="https://www.sciencedirect.com/science/article/abs/pii/S0277539515000667">India’s daughters</a> 
                face a much different landscape, 
                from individual brutal instances of assault to being failed by Indian society itself.
            </p>

            <p>
                <br><i>“You don’t get it.”</i><br>
            </p>

            <p>
                <br>I think to myself As I hear my Indian-American friend talk about Priyanka Chopra’s beautiful dress or about Kajal Agarwal’s 
                stunning makeup. Beneath the gold dresses and glittery eyelids, it is difficult to see the true plight of Indian women.<br>
            </p>

            <p><br><img src="../../../../assets/images/katrina.png"><br></p>

            <p>
                <br>There is no sin in enjoying Indian culture and respecting Indian customs, the true toxicity comes into play when, 
                in our enthusiasm for the glitz and glam of Bollywood and Indian pop culture, we forget the very real difficulties faced 
                by Indian women. <br>
            </p>
            <p>
                <br>India is the <a href="http://poll2018.trust.org/country/?id=india">most dangerous country in the world</a> for women. This is a fact that shocks most if not all of my Indian 
                American peers, and a testament to how out of touch we are from the problems facing our own homeland. 
            </p>

            <p>
                <br><i>“You don’t get it.”</i><br>
            </p>

            <p>
                <br>I think to myself as I watch a heroine being draped in a sari. As I watch her refuse the hero’s advances, 
                only to have him persist and completely ignore her bodily autonomy. This is sexual harassment. I shudder as I 
                realize the sexist messages this all too familiar plot line pushes into the mainstream Indian psyche.<br>
            </p>

            <p>
                <br>Popular Tollywood films from classics such as <a href="https://en.wikipedia.org/wiki/Gundamma_Katha"><i>Gundamma Katha</i></a>, 
                a tale in which a woman is financially manipulated by her husband and still cohabitates with him to be socially compliant, 
                <a href="https://en.wikipedia.org/wiki/Coolie_No._1_(1991_film)"><i>Coolie No.1</i></a>, a story of a woman woman who is 
                “tamed” of her “arrogant” nature through multiple heinous acts, including being raped by the hero under the authorization 
                of her own mother to recent releases such as <a href="https://en.wikipedia.org/wiki/Govindudu_Andarivadele"><i>Govindudu Andarivaadele</i></a>, 
                in which a woman is blackmailed with revealing pictures of herself to comply with the male protagonist’s wishes all show almost unfathomable and dangerously normal 
                mistreatment of women. Such depictions of women in Indian film actively contribute to 
                <a href="https://www.tandfonline.com/doi/full/10.1080/14616742.2016.1226401">rape culture</a> and push indian society 
                significantly backward on the front of gender equality. 
            </p>
            
        </div>
        <div class="column">

            <p><br><img src="../../../../assets/images/coolieno1.png"><br></p>

            <p>
                <br>Aside from all of heart-wrenching misogyny in popular indian film, the one action that makes me even more vehemently 
                upset, is the way my mother says “Stop looking so much into things” when I bring up my views during films.<br>
            </p>

            <p>
                <br><i>“You don’t get it.”</i><br>
            </p>

            <p>
                <br><a href="https://www.livemint.com/Politics/AV3sIKoEBAGZozALMX8THK/99-cases-of-sexual-assaults-go-unreported-govt-data-shows.html">99%</a> 
                of rapes and sexual assaults in India go unreported, according to a report by The Livemint. The average conviction rate for crimes that 
                are reported is a mere <a href="https://thewire.in/society/a-closer-look-at-statistics-on-sexual-violence-in-india">19%</a>. 
                One third of all pending investigations are cases of crimes against women. The toxic culture of 
                objectification and denial of bodily autonomy to women in mainstream Indian films only adds to the heinous environment 
                that India is for women.<br>
            </p>

            <p><br><img src="../../../../assets/images/protestindia.png"><br></p>

            <p>
                <br>For Non-Resident Indians (NRIs) like myself who are in a position of privilege, as the younger generation, 
                we need to extend hope and change to our sisters in India. No woman should have to literally fear for her life when 
                she exits her home, no woman should have to live in a world where treating women with gross disrespect is so normal 
                that it’s in every TV show and every movie. No woman should live in a world without freedom. And we need to ensure that.<br>
            </p>

            <p>
                <br>As an NRI myself, living in America has proven a vast contrast to what I’ve seen in India. America is by no means 
                perfect in terms of gender equality, in fact the United States is ranked as the 
                <a href="http://poll2018.trust.org/country/?id=usa">10th worst country</a> in the world for women. 
                There is certainly more work that needs to be done on the front of women’s rights and gender equality worldwide, 
                and an intersectional perspective must be applied when tackling any feminist issue. In my place of privilege, I
                have the opportunity to join women’s empowerment organizations, to take women’s studies classes, and to bravely 
                fight for the rights of women who may be unable to have a voice for themselves, and I hope others in a similar 
                situation are encouraged to do the same.
            </p>

            <p>
                <br>I hope now, you get it.<br>
            </p>
            
        </div>
    </div>
</section>