<section class="section">
    <h1 class="title">Yoga for the Cold Season</h1>
    <h6 class="subtitle is-6">by Farihah Begum Shukie</h6>
    <p><b>Trigger/content warning</b>: food, diet, sleep.</p>
    <p><b>Disclaimer</b>: These statements have not been evaluated by the FDA. These products are not intended to diagnose, treat, cure, or prevent any disease.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p><br><img src="../../../../assets/images/latte2.jpg"><br></p>

            <p><br><img src="../../../../assets/images/latte1.jpeg"><br></p>

        </div>
        <div class="column">
            <p>
                <br>When we think of foamy lattes, we usually think of drinking them in the morning or in the afternoon for 
                a pick me up. However, you could even have a latte in the evening to wind down and relax. This "latte" recipe 
                doesn't have coffee as an ingredient.<br>
            </p>

            <p>
                <br>The aroma and taste of these herbs usually help me relax after a busy day where I know I'll be in need of a deep 
                sleep. It also tastes amazing. Don't take my word for it though, try it and let me know what you think! I used three 
                herbs that are known to help promote relaxation and a good night sleep: lavender, chamomile, and valerian root. Each 
                one has a different floral flavor that when combined makes a truly unique blend. Mixing this brew with some foamy 
                non-dairy milk, and a little sweetener will make this latte extra special. Drink about 1 to 2 hours before bed to 
                ensure you don't have to wake up in the middle of the night!<br>
            </p>

            <p><br><b>Ingredients</b><br></p>
            <ul>
                <li>1/2 tbsp of dried lavender flowers</li>
                <li>1/2 tbsp of dried chamomile flowers</li>
                <li>1 tsp of dried valerian root</li>
                <li>1/2 cup of water (to be boiled)</li>
                <li>3/4 cup of plain non-dairy milk (soy or almond go really well here)</li>
                <li>1 or 2 tsp of raw honey (sub in 1/2 tbsp of raw coconut sugar if you don't want honey)</li>
            </ul>

            <p><br><b>Instructions</b><br></p>
            <ol>
                <li>Bring water to a boil in a small pot. Remove from heat and let all dried herbs steep for 5 to 10 minutes</li>
                <li>In a separate pot, gently heat nondairy milk until foam starts to appear. Do not boil. Remove from heat.</li>
                <li>Strain the liquid from the steeped herbal tea and combine with milk and sweetener of choice.</li>
                <li><i>Optional</i>: Before serving blend in a high-speed blender on a medium-low setting letting the steam escape. 
                    This will ensure extra thick foam if you're in the mood for something extra special. Pour into your 
                    favorite mug and enjoy!</li><br>
            </ol>

            <p><br><img src="../../../../assets/images/latte3.jpg"></p>

            <p>Image courtesy of <a href="https://www.instagram.com/shukieats/">@shukieats</a>.</p>

        </div>
    </div>
</section>