<section class="section">
    <h1 class="title">High-Functioning Anxiety</h1>
    <h6 class="subtitle is-6">by Shilpa Kancharla</h6>
    <p><b>Trigger/content warning</b>: anxiety, digestive health problems, issues with internal dialogue.</p>
    <p><b>Disclaimer</b>: The author is not a health professional. They are speaking from personal experience and advice from their health professionals.</p>    
    <p><br><img src="../../../../assets/images/highanxiety.png" class="center" height="800" width="800"><br></p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>For as long as I can remember, I have rampant, racing thoughts that I constantly attempt to make a reality. 
                For the most part, these thoughts are not always bad. In fact, most of them relate to projects that I want to complete, 
                courses that I want to take, and other miscellaneous goals and tasks that I feel the need to get done. I always think 
                to myself, “I would so be able to do all of this if there were more than 24 hours in a day.” I would classify myself 
                as a detail-oriented, proactive, and punctual individual. According to the DSM-5, a key characteristic of anxiety 
                disorders is that anxiety must cause disruption or impairment in everyday activities, and it’s suggested that one 
                should avoid activities that cause the onset of anxiety. From what I know and have read, high-functioning anxiety 
                does not seem to be listed as a mental health disorder. However, it does not mean that people who experience it do 
                not suffer intense symptoms. At the moment, I’m not even sure what I experience is a form of anxiety, regardless 
                of the degree of impairment. It’s also imperative that support systems cannot be dismissive of people who claim to 
                experience high-functioning anxiety.<br>
            </p>

            <p>
                <br>At first glance, it might seem like having all of these thoughts would lead me to become incredibly successful. 
                In my personal experience, I start multiple projects, overload on the number of courses that I take in a semester, 
                and vehemently say “YES!” to any opportunity that comes my way. I am not sure if this is an extreme case of FOMO, 
                or if I’m willingly choosing to spread myself way too thin. I then take it as a challenge to try to complete all 
                these tasks by their deadlines. More likely than not, I am able to fulfill all of these commitments, and I usually 
                achieve my desired results. I know for a fact that I appear as a Type A personality that is calm and put-together. 
                At first glance, it seems like my high-functioning anxiety has propelled me forward instead of setting me back.<br>
            </p>

            <p>
                <br>However, I impose this burden on myself. I do not feel calm and put-together, or even remotely successful, 
                on the inside. This cost includes the loss of sleep, not eating for extended periods of time, drinking too much 
                coffee and energy drinks, and not responding to loved ones in a timely manner.<br>
            </p>

            <p>
                <br>A lot of people ask me “Why don’t you just slow down? You don’t have to conquer the entire world in one day.” 
                I really do not have a rebuttal to this question and statement. I began to examine the effects of me overloading 
                work on myself, and how these effects manifest physically and mentally.<br>
            </p>

            <p>
                <br>On the physical front, I suffer from stress-related gastroenterological problems. I experience 
                <a href="https://www.health.harvard.edu/newsletter_article/stress-and-the-sensitive-gut">slow digestion</a> 
                due to excessive stress that I place on my body. According to the gut-brain axis, the signaling pathway between your 
                digestive and nervous systems, your 
                <a href="https://www.semanticscholar.org/paper/Gut%E2%80%93brain-axis%3A-how-the-microbiome-influences-and-Foster-Neufeld/7bf398378620a24a2bdf0953dc6033425c297fe2">gut microbiome</a> 
                can influence your mental health. 
                <a href="https://www.liebertpub.com/doi/abs/10.1089/omi.2017.0077?journalCode=omi&">The microbiome plays an important 
                role in the programming of the hypothalamic–pituitary–adrenal (HPA) axis early in life, and stress reactivity over 
                the lifespan</a>. Depending on the composition of this microbiome, the presence of certain bacteria can influence stress 
                levels, and stress levels can in return influence the levels of certain bacteria in the gut. In this positive feedback c
                ycle, it seems apparent that your digestive health is significantly impacted by your mental state. I have personally 
                experienced this after putting my body and mind in stressful, repeated situations and overworking. The amount of work 
                I was doing often caused me to have the following anxious thoughts:
            </p>

            <p><i><br>“Will I get this done on time?”<br></i></p>

            <p><i><br>“Will the final product look good?”<br></i></p>

            <p><i><br>“Will I look good?”<br></i></p>

            <p><i><br>“If I turn in something subpar, will everyone depending on me hate me?”<br></i></p>

            <p>
                <br>I had zero control over these thoughts. With their continuous presence, I could feel my stomach ache, 
                and I felt heavy pressures in my esophagus. I felt incredibly uncomfortable and couldn’t overcome this feeling 
                until the task was completed, or on rare occasions if I chose to quit what I was performing.<br>
            </p>
        </div>
        <div class="column">
            <p>
                <br>Mentally, these questions impacted my internal dialogue. I have said some of the meanest things to myself 
                that I would never say to anyone else. These things include:<br>
            </p>

            <p><i><br>“You’re not good enough.”<br></i></p>

            <p><i><br>“You’re not smart enough.”<br></i></p>

            <p><i><br>“You’re not pretty enough.”<br></i></p>

            <p><i><br>“You’re not interesting enough. No one will ever stay with you unless you’re constantly doing or 
                saying something interesting, or accomplishing a lot of things and getting good grades and being smart.”<br></i></p>

            <p><i><br>“Your emotions are too much. Learn how to control them, or else you won’t go anywhere in life.”<br></i></p>

            <p><i><br>“Displaying your emotions will cause you to look like a burden."<br></i></p>

            <p>
                <br>How does this internal dialogue impact me in real life? I put in constant effort to prove I am smart enough. 
                I push myself to interact and try to be social and display as much knowledge to spark conversations, but I have to 
                keep myself from talking about everything I know. I plan conversations in advance when I meet new people, and try to 
                predict their reactions to things I might say.<br>
            </p>

            <p>
                <br>Currently, I am trying to figure out what works best for me when it comes to dealing with my high-functioning anxiety. 
                Most importantly, I’m learning to intervene with myself and check in with myself. Learning how to moderate my own emotions 
                is a key practice I am trying to include. I’ve been implementing a writing practice that works for me (however, it may not 
                work for everyone, and that is completely fine too): <br>
            </p>

            <ol>
                <br>
                <li>Record the time and date.</li>
                <li>Provide a one sentence summary of my current situation.</li>
                <li>Describe my emotions and give them a rating out of ten of how intensely I am experiencing them.</li>
                <li>Record my automatic thoughts. What are the first thoughts that pop into my mind?</li>
                <li>Predict the most likely outcome.</li><br>
            </ol>

            <p>
                <br>I find that after I work through this process, I experience a certain sense of calmness even if my issues aren’t 
                resolved. When I begin to feel these same emotions come back again about the situation, I can refer back to this writing 
                and allow myself to follow through the steps of coming down from my rush of emotions, clear my thoughts, and take several 
                deep breaths.<br>
            </p>

            <p>
                <br>I certainly do not have all the answers, but I am trying to take on a reasonable amount of work, practice better eating 
                habits, and maintain a sleep schedule.<br>
            </p>

            <p>
                <br>Some weeks I am able to succeed in doing this, other weeks I am not. A concept I have been telling myself, however, 
                is that I can be a little less rigid with my life. Details of my day do not have to be precise and planned down to the 
                exact moment. I am attempting to tell myself that I am allowed to exist without expectations sometimes. Finally, 
                in conclusion, I am telling myself that just because my struggles do not appear in psychiatric literature, that does not 
                delegitimize my experience with how I feel and navigate my daily world. If you have similar problems to me, I want you to also
                know that solutions definitely exist to these issues, and I highly encourage you to find your own way of resolving them. You
                are enough just as you are, whether you are doing the most with your work and time or not.<br>
            </p>
        </div>
    </div>
</section>