<section class="section">
    <h1 class="title">Double Standard of Marriage in Patriarchal Societies</h1>
    <h6 class="subtitle is-6">by Huma Khursheed</h6>
    <p><b>Trigger/content warning</b>: marriage, double standards.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>As I entered my twenties, I grew more and more excited. I was set to graduate from college, 
                the one milestone my parents and I had been waiting for since we immigrated to the United States. 
                I was thinking about professional school, the places I’d travel, and all of the exciting things I’d do 
                once I could earn my own money. Then, a trip to Pakistan made reality sink in when relatives constantly 
                asked about when I would get married because, despite my accomplishments, conservative Pakistani society 
                still believed that a woman’s role was to be a wife and mother.<br>
            </p>

            <p>
                <br>Here I was, a young professional with more ambition than there is water in the ocean, and the only important thing 
                people could see about me was my potential to be a wife? Needless to say, I was disappointed but not surprised. 
                When Chimamanda Ngozi Adichie said <b><i>“We teach girls to shrink themselves, to make themselves smaller. We say to girls 
                ‘You can have ambition, but not too much. You should aim to be successful, but not too successful’”</i></b>. 
                I felt that in my Desi soul. As a woman, I felt cheated because I was told from the start to achieve academic excellence, 
                but suddenly realized that the natural expectation that followed is marriage. I am expected to give up my career 
                aspirations or worse, made to feel guilty if my accomplishments outshine my future partner’s. I felt cheated, not 
                because I did not want to get married and have children, but because this was an expectation forced upon me solely 
                due to my gender.<br>
            </p>

            <p>
                <br>In South Asian culture, talks of marriage start for women much sooner than they do for our counterparts. 
                Not only are women expected to get married but we are expected to have children. Those who choose not to are labeled as 
                “selfish” or “self-centered.” Our womanhood is questioned because society cannot fathom a woman who does not want to be 
                a mother. When society talks about women, the conversation always leads to motherhood and children, but seldom is 
                that the case for a man. When my relatives would catch up with my parents, they would ask my father about work but 
                they would ask my mother about me (her daughter) and household updates, overlooking the fact that my mom works and 
                usually earns more than my dad. Our identities have been defined throughout history by our relationships versus our 
                accomplishments.<br>
            </p>

            <p>
                <br>The problem with this happening only towards one group and not the other is that it creates inequality and double standards. 
                Women must be married by a certain age or else they are considered too old, however, men can do as they please.<br>
            </p>
        </div>
    </div>
</section>