<section class="section">
    <h1 class="title">Bollywood Bringing Positive Portrayals or More Victim-Blaming?</h1>
    <h6 class="subtitle is-6">by Satveer Kler</h6>
    <p><b>Trigger/content warning:</b> sexual violence, graphic depiction of assault in <i>Pink</i> trailer.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>Bollywood movies have remained a staple in many South Asian families. They serve as forms of entertainment, 
                ways to reconnect to cultural practices and traditions, and forums for all members of the family regardless of 
                generation to come together and spend quality time. Themes in Bollywood movies are vast and appeal to many different 
                audiences. There are some that deal with the task of reconciling individual happiness amongst familial responsibility 
                such as <i>Kabhi Khusi Khabie Gham</i>. Others involve the themes of nationalism, love without borders, and heart-wrenching 
                sacrifice such as <i>Veer-Zaara</i>. And it is impossible to leave out comedic gold such as <i>Singh is Kinng</i>.<br>
            </p>

            <p>
                <br>However, this is not to say that all of these themes are benign or that all messages portrayed in Bollywood movies 
                are healthy. Just as with other pieces of media, one must also critically consume Bollywood movies and analyze the ways 
                in which they may be contributing to forms of oppression. In fact, Bollywood movies have become a growing area of interest 
                in psychological studies due to this very reason.<br>
            </p>

            <p>
                <br>One such study done by Uttara Manohar and Sarah Kline of Ohio State University found that within the 24 Bollywood movies 
                they analyzed, there existed commonalities in terms of the ways in which these movies portrayed sexual violence 
                <a href="https://link.springer.com/article/10.1007/s11199-014-0404-6">(Manohar and Kline, 2014)</a>. The researchers 
                found that in over half of the movies, the victim was regarded as being at fault for being assaulted. Another key finding 
                in this study was that most of the victims enacted traditional gender roles before being assaulted as well as after being 
                assaulted.<br>
            </p>

            <p>
                <br>Such portrayals of sexual violence in Bollywood movies are problematic because sex and sexual violence are already 
                taboo topics in South Asian culture. By reinforcing victim-blaming and dictating the ways in which survivors and victims 
                must respond to acts of violence, these movies serve to further perpetuate rape culture and normalize cycles of violence. 
                This is especially important given the importance that Bollywood movies carry in South Asian society because they are tools 
                from which people internalize messages about culture and existing as a South Asian. Movies such as these could intentionally 
                or unintentionally invalidate the experiences of those who consume them.<br>
            </p>

            <p>
                <br>In another study, Gita Rajan of Fairfield University found there to be patterns in how masculinity was constructed 
                in South Asian cinema <a href="https://www.journals.uchicago.edu/doi/abs/10.1086/500959?journalCode=signs&">(Rajan, 2006)</a>. 
                One pattern that Rajan found was that Non-Resident Indians’ masculinity was called 
                into question and emasculated in comparison to the dominant and outspoken Indian national masculinity such as the portrayal 
                found in <i>Bombay Boys</i>. The other pattern that Rajan described was one where the effeminization of South Asian men was 
                challenged by having a British woman desire the leading actor as seen with the character of Bhuvan in the movie <i>Lagaan</i>. 
                However, this situation also ended up with Bhuvan being in a love triangle with the British woman and a woman from his village 
                named Gauri. 
            </p>

            <p>
                <br>Again, these portrayals of masculinity are not ideal because of the messages they send about gender socialization. 
                One can see that the first pattern reinforces the idea that masculinity is a competition. By painting masculinity to be 
                a competition, this encourages individuals to engage in dangerous forms of self-aggrandizing and toxic behaviors to 
                prove that they are indeed masculine or that they are more masculine than their counterparts. The second pattern is also 
                problematic because it sends the message that masculinity is only meant to be celebrated if one is able to use it to 
                procure multiple potential patterns. Furthermore, the act of engaging in a love triangle paints the situation as a 
                forced choice that one is supposed to make between retaining one’s culture and marrying the “socially backwards” village 
                woman or gain an increase in social mobility and marry the British woman.<br>
            </p>

            <p>
                <br>These critiques of Bollywood movies are not to say that one should never watch Bollywood movies or feel guilty about 
                enjoying them. There are both positive and negative aspects to any movie, not just Bollywood movies. However, what one 
                must consider when one watches Bollywood movies is how can we as a society envision a form of media consumption that 
                remains critical of the content that we are consuming, while also applauding the positive portrayals. A couple of years 
                ago, I would have never imagined that Bollywood would have released a movie like <a href="https://www.youtube.com/watch?v=AL2TShb6fFs"><i>Pink</i></a>, a courtroom thriller with themes 
                around sexual violence. It is encouraging to see that not all Bollywood movies carry problematic portrayals of sexual 
                violence or gender socialization. Now, more than ever, one must continue to remain critical of media content because 
                consumers have the power to support positive content and critique the problematic portrayals.<br>
            </p>

            <p><br><b>References:</b><br></p>

            <p><br>Manohar, U., & Kline, S. L. (2014). Sexual Assault Portrayals in Hindi Cinema. <i>Sex Roles</i>, 71(5-
                8), 233-245. doi:10.1007/s11199-014-0404-6<br></p>

            <p><br>Rajan, G. (2006). Constructing‐Contesting Masculinities: Trends in South Asian Cinema. 
                <i>Signs: Journal of Women in Culture and Society</i>, 31(4), 1099-1124. doi:10.1086/500959<br></p>
        </div>
    </div>
</section>