<section class="section">
    <h1 class="title">Portrayal vs. Reality</h1>
    <h6 class="subtitle is-6">by Shilpa Kancharla</h6>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>Being a woman of color is really challenging. I try to say or do something, explain myself incessantly, 
                and I feel like it's really not heard. The meaning that I'm trying to get across isn't understood perfectly. 
                I have to package concepts conveniently, control my rhetoric, hold back tears and constantly make my 
                experiences digestible to my audience. I've spent years thinking about how I can make myself more palatable 
                so people will give me a chance to express myself, inside and outside my cultural community. Often times, 
                I feel really misunderstood, and I think I get portrayed as being really angry, sad, and emotional about my lived experiences. 
                The truth is that I am really angry, sad, and emotional. But my emotions aren't being used constructively; instead, 
                they're being used to paint me, and people who share similarities with me, in a negative light. I think that being 
                painted as such only further hinders the presence of women in color in general, because for some reason, when you 
                speak with emotion, your thoughts and opinions have a higher chance of being invalidated.<br>
            </p>
        
            <p>
                <br>Sometimes writing is a better way of articulating myself. I’m not always good at tracking my tone, though. 
                I don’t know if this post comes off as angry, sad, or emotional. I kind of care too, because are people actually 
                going to read this if it isn't convenient for them? Will they challenge themselves to understand where people 
                like me are coming from, and just how hard it has been to gain the freedom of self-expression, without the cost of 
                ridicule, misunderstanding, and embarrassment? I make a lot of mistakes in how I handle things — I think that’s 
                because when emotions are held incredibly tightly inside of you, and then you finally have the opportunity to speak, 
                words do not fizzle out. They burst out. My words are really intense during these moments, and I think I also come 
                off as aggressive, impatient, demanding, clingy, needy, ungrateful, undeserving, and unimportant.<br>
            </p>
        </div>
    
        <div class="column">
            <img src="../../../assets/images/whitepomegranate.jpg" alt="Banner" class="center round">
    
            <p>
                <br>That's why the Pomegranate Society was so necessary to create. No one has to make themselves more palatable for the 
                audience here. You can express raw emotion here, be unfiltered, and be understood by other people. I hope that you 
                absorb the thoughts and meanings that people want to get across here. I hope it is something that you can learn from 
                and you can challenge a few preconceived notions. This platform isn't meant to create a dichotomy or an "otherness," 
                but aims to provide a space to hear stories that are long overdue, foster an understanding between communities, and 
                create a healthy expression of emotions to open a path for healing.<br>
            </p>
        </div>
    </div>
</section>