<section class="section">

  <!--Question 1-->
  <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>What is restorative justice?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Restorative justice aims to repair the harm caused by crimes. It strives for accountability and making amends between 
            community members and for the potential to foster understanding within society. hen victims, survivors, perpetrators, and 
            the communities meet together as a whole to discuss solutions, innovative and transformational solutions can 
            possibly be created. Overall, it can serve as an opportunity for reconciliation.
          </p>
      </mat-expansion-panel>
  </mat-accordion>

    <!--Question 2-->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Why is accountability important?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        There are multiple reasons to remain anonymous, including, but not limited to the right to protection, cultural reasons, and not being
        ready to reveal identities. Ultimately, it is imperative to leave the decision of remaining anonymous to the person submitting the post. 
        Even this simple decision can allow for victims and survivors to choose their own way of how they want their narrative to be displayed.
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <!--Question 3-->
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Why value anonymity?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Choosing to remain anonymous can be important for many reasons. It offers protection and courage, and can allow those who have 
          cultural conflicts and concerns to still express themselves without fear of judgement. It can serve as a crucial aspect in how 
          someone wants to express their story.
        </p>
    </mat-expansion-panel>
  </mat-accordion>

  <!--Question 4-->
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>What does the pomegranate represent?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Pomegranates are symbols across many cultures and often represent fertility, life, and power. These
          themes can be related to healing and transformation, and reclaiming your narrative by sharing your experiences.
        </p>
    </mat-expansion-panel>
  </mat-accordion>

  <!--Question 5-->
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Do I have to be of South Asian descent to submit a post?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          No. In fact, it is encouraged for anyone to submit a post here. Hearing from people of all backgrounds is 
          an amazing way to build empathy and communicate different perspectives.
        </p>
    </mat-expansion-panel>
  </mat-accordion>

  <!--Question 6-->
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Why do you post about topics other than sexual assault?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Sexual and gender violence are much deeper than the act itself. It is important to understanding
          how multifaceted the topic is, and therefore it is very important to discuss many social justice topics
          including, but not limited to, self-care, beauty standards, representation in media, various mental
          health topics, and trauma.
        </p>
    </mat-expansion-panel>
  </mat-accordion>

  <!--Question 7-->
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Can I share any of the posts on your website to my personal social media?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Yes, feel free to share any page of this website.
        </p>
    </mat-expansion-panel>
  </mat-accordion>

  <!--Question 9-->
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>How can I contribute to the organization?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          The best way to contribute currently is to fill out surveys that are posted periodically and share posts on social media.
          If you are looking to get involved in the organization, you can use the contact form or email the organization at 
          <a href="mailto:societypomegranate@gmail.com">societypomegranate@gmail.com</a>.
        </p>
    </mat-expansion-panel>
  </mat-accordion>

</section>
