<section class="section">
    <h1 class="title poem">The moon, she weeps.</h1>
    <h6 class="subtitle is-6 poem">by Allie Todd</h6>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p class="poem">
                The moon, she weeps for me.<br>
                She cries for me in the night.<br>
                She knows that’s when the memories, they scratch and they claw and they fight,<br>
                To take root in my dreams,<br>
                And to keep me up all night.<br>
            </p>

            <p class="poem">
                <br>
                The moon, she weeps for me.
                When the sun goes down she knows she won’t be enough for me.<br>
                She tries to keep the tides at bay,<br>
                But they come and they take me away,<br>
                Piece by piece.<br>
            </p>

            <p class="poem">
                <br>
                The moon, she weeps for me.<br>
                She weeps as I can barely remember how to breathe.<br>
                She weeps and weeps all night it seems.<br>
                As I toss and I turn,<br>
                Engulfed by the memories of his unwanted hand on me.<br>
            </p>

            <p class="poem">
                <br>
                The moon, she weeps for me.<br>
                For the first time though,<br>
                I feel a little stronger.<br>
                I do not feel the weight of world upon my shoulders.<br>
                Sleep, comes naturally.<br>
            </p>

            <p class="poem">
                <br>
                The moon, she weeps for me.<br>
                It’s a different sort of cry tonight,<br>
                She sees me sleeping so peacefully.<br>
                The sun, he told her of my strength.<br>
                He told her of the grace,<br>
                The grace it took to forgive.<br>
            </p>

            <p class="poem">
                <br>
                So, the moon, the moon, she wept for me,<br>
                For years it seemed, but she wept only one last time tonight.<br>
                She wept for the growth she’s seen in me.<br>
                She wept for the nights I couldn’t seem to quit weeping.<br>
                The moon left her strength in me.<br>
            </p>

            <p class="poem">
                <br>
                Now the moon and the sun rejoice in me.<br>
                What a long road behind us,<br>
                And oh how many things they have seen.<br>
                Their tears dried with mine,<br>
                And although the toughest moments are behind,<br>
                I will never forget how the moon wept for me.<br>
            </p>
        </div>
    </div>
</section>