<section class="section">
    <h1 class="title">Do You Care? Agency and Brown Women</h1>
    <h6 class="subtitle is-6">by Vaishnavi Siripurapu</h6>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>I talked to a friend the other day and he mentioned that he thought women shouldn’t wear short clothes at night, 
                something that I thought was sexist. Instead of letting it go, I called him out on it. He didn’t take it too well.<br>
            </p>

            <p>
                <br>Worried about losing him, I went to my mom.<br>
            </p>

            <p>
                <br>“I think I made him upset...” I told her.<br>
            </p>

            <p>
                <br>“Okay.” She said. “Do you care?” <br>
            </p>

            <p>
                <br>Her question stayed with me.<br>
            </p>

            <p>
                <br>Instead of saying: “What did you do to upset him?” or “Why did you make him upset?”<br>
            </p>

            <p>
                <br>She asked, “Do you care?”<br>
            </p>

            <p><br><img src="../../../../assets/images/doyoucare2.png"><br>Image courtsey of <a href="https://www.instagram.com/hatecopy/?hl=en">@hatecopy</a>.</p>
        </div>
        <div class="column">
            <p>
                <br>It’s so underestimated how the small actions we take shape the society around us. By saying “Do you care?”, my mom made me consider my own autonomy. 
                She allowed me the control to decide how I feel about my actions and how I choose to value my relationships. Instead of putting me automatically at 
                fault by saying “What did you do to upset him?” or “Why did you upset him?”, she reminded me of the power to decide the consequences of my actions. <br>
            </p>
            <p>
                <br>Young girls, particularly young South Asian girls, are taught to obsessively care  about what other people think of them. “<i>Log Kya Kahenge?</i>”<sup>1</sup> 
                becomes a part of our every mental process and erodes away our conscience. We’re taught to be obedient, constantly analyzing every move we take, 
                every word we speak to please everyone but ourselves. People’s perceptions become our chains and the chatter of others silences us.<br>
            </p>

            <p>
                <br>I know I do not speak alone when I discuss the all too familiar experience of hearing an older community member saying something racist, sexist, 
                xenophobic, or otherwise close-minded, knowing what they said is horrifically detrimental to society, and still staying silent because 
                “<i>Log Kya Kahenge?</i>”<br>
            </p>

            <p>
                <br>However, I know I speak for legions of brown women when I talk about the experience of hearing the young people in our community use racial slurs, 
                express sexist opinions, and promote colonialism by prizing fair skin. Even though we are among our peers in these situations (as I was in my 
                conversation with my friend), it is still insurmountably difficult to express our opinions in part because we are afraid of what our peer circles 
                will think of us.<br>
            </p>

            <p>
                <br>Some people will say “It’s not that deep. It’s three words”, since small interactions don’t necessarily evoke the stereotypes of radical change 
                and social justice such as protests or riots, but it’s the small actions we take that set our definition of “normal”, which is critical in 
                instilling change.<br>
            </p>

            <p class="center"><br><img src="../../../../assets/images/doyoucare1.png"><br>Image courtesy of <a href="https://www.instagram.com/thepakistanimarthastewart/?hl=en">@thepakistanimarthastewart</a>.</p>

            <p>
                <br>When my mom said “Do you care?” I replied “No..I don’t. I don’t care.” And a sense of freedom washed over me.<br>
            </p>

            <p>
                <br>But in saying “Do you care,” what she really said was “I trust you and your judgement.”<br>
            </p>

            <p>
                <br>Instead of “<i>Log Kya Kahenge?</i>” my mom asked me <i>“Aap kya kahenge?”</i><sup>2</sup>, and that support, especially 
                from a mother or any strong female role model, is priceless. That support empowers revolutions.<br>
            </p>

            <p>
                <br>And for my mother—an immigrant woman from a rural village—making this normal, I am grateful, and I hope the 
                South Asian community as a whole can come together to provide trust and freedom to our daughters.<br>
            </p>

            <p><br><sup>1</sup><i>What will people say?</i> in Hindi.<br></p>

            <p><br><sup>2</sup><i>What will you say?</i> in Hindi.<br></p>
        </div>
    </div>
</section>