<section class="section">
    <div class="columns is-centered">
        <div class="column is-four-fifths">
            <h1 class="title">More Than Just A Statistic - #MeToo Analysis</h1> 
            <!--Instructions listed here-->
            <h2 class="subtitle">Trigger/Content Warning: Sexual assault, #MeToo movement</h2>
            <p>
                <b>Note:</b> Your responses to this survey are completely anonymous. Names, email addresses, or any other type of personal information are not being collected. 
                Not all questions may apply to you, so do not feel like you have to respond with a concrete answer. It's okay to say "I don't know" or not answer 
                if you do not have answer.<br>

                <br>We’ve all heard the statistic “One in five women will be sexually assaulted in college.” Do we understand what goes into this statistic, however? This 
                isn’t a game of roulette at all. These are real people. These are people with complex and variegated emotions and mental states. These people may be your 
                best friend, your neighbor or your roommate. These people won’t always be women. These people won't always be men, either. These people won’t always be 
                adults. These are real events that impact them, perhaps for the rest of their life.<br>

                <br>This study aims to analyze the language used when talking about the #MeToo movement, and delve deeper into understanding the sentiments and emotions 
                of such a movement, and to finally demonstrate that sexual assault is more than just a statistic - it is a lived experienced and the attitudes that 
                surround it heavily influence our day-to-day interactions.<br>

                <br>By participating in this survey, you are helping launch this very important project in changing the discourse surrounding sexual asault. 
                Thank you for filling out this survey. Your contribution is valued.<br>
            </p>
            <br>
            <p class="success" *ngIf="formSubmitted">Submitted successfully</p>
            <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
                <div class="field">
                    <!--Radio options for race-->
                    <p>1. Please select your race.*</p>
                    <div class="radio">
                        <div>
                            <input id="asian" type="radio" name="race" value="asian" formControlName="race" [(ngModel)]="value">
                            <label for="asian"> Asian or Pacific Islander</label>
                        </div>
                        <div>
                            <input id="black" type="radio" name="race" value="black" formControlName="race" [(ngModel)]="value">
                            <label for="black"> Black or African American</label>
                        </div>
                        <div>
                            <input id="hispanic" type="radio" name="race" value="hispanic" formControlName="race" [(ngModel)]="value">
                            <label for="hispanic"> Hispanic or Latino</label>
                        </div>
                        <div>
                            <input id="native" type="radio" name="race" value="native" formControlName="race" [(ngModel)]="value">
                            <label for="native"> Native American or American Indian</label>
                        </div>
                        <div>
                            <input id="white" type="radio" name="race" value="white" formControlName="race" [(ngModel)]="value">
                            <label for="white"> White</label>
                        </div>
                        <div>
                            <input id="more" type="radio" name="race" value="more" formControlName="race" [(ngModel)]="value"> 
                            <label for="more"> More than one of the above</label>
                        </div>
                        <div>
                            <input id="na" type="radio" name="race" value="na" formControlName="race" [(ngModel)]="value"> 
                            <label for="na"> I choose not to identify</label>
                        </div>
                        <div>
                            <input id="other" type="radio" name="race" value="other" formControlName="race" [(ngModel)]="value">
                            <label for="other"> Other</label>
                        </div>
                        <div class="help-is-danger" *ngIf="race.invalid && !race.pristine">
                            <p *ngIf="race.errors.required">Race is required.</p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <!--Field for age-->
                    <label input="text"><br><p>2. Please enter your age as a number.</p><br></label>
                    <input type="number" formControlName="age">
                </div>
                <div class="field">
                    <!--Radio options for Question 1-->
                    <p><br>3. Do you think the current way we discuss sexual assault should be changed?*</p>
                    <div>
                        <label>
                            <input type="radio" formControlName="question1"> Yes
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" formControlName="question1"> No
                        </label>
                    </div>
                </div>
                <div class="field">
                    <!--Field for Question 2-->
                    <label input="text"><br><p>4. What is one thing you would change about the current discourse on sexual assault? *</p><br></label>
                    <textarea class="textarea" type="text" formControlName="question2"></textarea>                
                </div>
                <div class="field">
                    <!--Field for Question 3-->
                    <label input="text"><br><p>5. What are three words that you associate with the #MeToo movement? *</p><br></label>
                    <input type="text" formControlName="question3">
                </div>
                <div class="field">
                    <!--Field for Question 4-->
                    <label input="text"><br><p>6. What are three emotions that you associate with the #MeToo movement? *</p><br></label>
                    <input type="text" formControlName="question4">
                </div>
                <div class="field">
                    <!--Radio options for Question 5-->
                    <p><br>7. Have you seen any backlash to the #MeToo movement? (This can include instances over social media and in person).</p>
                    <div>
                        <label>
                            <input type="radio" formControlName="question5"> Yes
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" formControlName="question5"> No
                        </label>
                    </div>
                </div>
                <div class="field">
                    <!--Field for Question 6-->
                    <p><br>8. If you have witnessed backlash, could you please describe the circumstance in which it occurred?<br></p>
                    <textarea class="textarea" type="text" formControlName="question6"></textarea>
                </div>
                <div class="field">
                    <!--Field for Question 7-->
                    <p><br>9. Has the backlash you've witnessed been from people within your racial or socioeconomic community? Please explain.<br></p>
                    <textarea class="textarea" type="text" formControlName="question7"></textarea>
                </div>
                <div class="field">
                    <!--Radio options for Question 8-->
                    <p><br>10. If you're a survivor/victim, have you felt more open about coming out with your story after #MeToo began?<br></p>
                    <div>
                        <label>
                            <input type="radio" formControlName="question8"> Yes
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" formControlName="question8"> No
                        </label>
                    </div>
                </div>
                <div class="field">
                    <!--Radio options for Question 9-->
                    <p><br>11. Have you noticed more survivors/victims coming out with their stories since #MeToo began?*<br> </p>
                    <div>
                        <label>
                            <input type="radio" formControlName="question9"> Yes
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" formControlName="question9"> No
                        </label>
                    </div>
                </div>
                <div class="field">
                    <!--Slider for Question 10-->
                    <p><br>12. If you are a survivor, how would you rate your sense of shame before #MeToo? Use the slider to choose your answer. (5 being the highest sense of shame)<br></p>
                    <br>
                    <mat-slider class="main"
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="1"
                        min="1"
                        max="5">
                    </mat-slider>
                </div>
                <div class="field">
                    <!--Slider for Question 11-->
                    <p><br>13. If you are a survivor, how would you rate your sense of shame after #MeToo stared? Use the slider to choose your answer. (5 being the highest sense of shame)<br></p>
                    <br>
                    <mat-slider class="main"
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="1"
                        min="1"
                        max="5">
                    </mat-slider>
                </div>
                <div class="field">
                    <!--Field for Question 12-->
                    <p>14. Have you found or seen instances of restorative justice in your own experience or in others' experiences with #MeToo? (<b>Restorative Justice</b>: finding rehabilitation for offenders through reconciliation with victims and the community at large)</p>
                    <textarea class="textarea" type="text" formControlName="question12"></textarea>
                </div>

                <!--Submit Button-->
                <button type="submit" class="button is-danger is-outlined" [disabled]="!surveyForm.valid">Submit</button> 
            </form>
        </div>
    </div>
</section>