<section class="section">
    <h1 class="title poem">Self-Care</h1>
    <h6 class="subtitle is-6 poem">by Allie Todd</h6>
    <p class="poem"><b>Trigger/content warning:</b> rape.</p>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p class="poem">
                <br>
                Self-care, self-care, self-care, they preach<br>
                But how will brushing my hair make me forget his hands on me.<br>
                Self-care, self-care, self-care, they say<br>
                But how will a bubble bath cure the way,<br>
                My eyes dart around a room to make sure he isn’t there.<br>
            </p>

            <p class="poem">
                <br>
                Self-care, self-care, self-care, they yell<br>
                Our sisters, our mothers, our therapists<br>
                But do they not know,<br>
                That self-care won’t remove the image of my rapist.<br>
            </p>

            <p class="poem">
                <br>
                Do they not know,<br>
                That washing my body in fancy soaps<br>
                Will not erase the image of my blood stained clothes?<br>
                I know they are trying to help!!<br>
                But do they not know,<br>
                Self-care isn’t the only way to heal my broken heart?<br>
            </p>

            <p class="poem">
                <br>
                Relax, do something for yourself, they whisper<br>
                But when the night falls the only voice I hear, is his.<br>
                I can’t see a staircase without thinking of that night,<br>
                And I can’t breathe sometimes.<br>
                Tell me, how will painting my nails bring me back to life.<br>
            </p>

            <p class="poem">
                <br>
                Not everyone heals in the same way, I say back.<br>
                I can’t light a candle and go back,<br>
                Go back to before when I was whole.<br>
                But I can write, and I can brush my hair,<br>
                And I can take a bath, and I can fight the system.<br>
            </p>

            <p class="poem">
                <br>
                Self-care alone will not heal us all.<br>
                Healing does not come in one shape, one size.<br>
                So when they tell you,<br>
                Just to take care of yourself, your physical self,<br>
                Please, please do it for you.<br>
                But don’t forget to take care of your mind too.<br>
            </p>
        </div>
    </div>
</section>