<section class="section">
    <h1 class="title">Choosing Your Narrative</h1>
    <p><b>Trigger/content warning:</b> sexual violence, healing.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>The healing process for each individual who has experienced sexual violence is never 
                the same. The language used can vary from person to person. Some people who have lived 
                through sexual assault refer to themselves as survivors, whereas others refer to 
                themselves as victims, despite the fact that the latter term is viewed by some as 
                disempowering. However, having the choice and autonomy to choose how you identify, 
                and when, rather than being forced to identify one way or the other, is in itself 
                empowering and legitimizes an individual’s lived traumas. There is a huge push towards 
                only using the term ‘survivor’, especially when it comes to those who handle sexual 
                violence cases—be it advocates, social workers, lawyers, and so forth. Though 
                well-intended, telling someone “You are a survivor” once again takes control away 
                from the person who has gone through the violence that was not in their control, and 
                puts words in their mouth rather than letting them decide for themselves. At the NGO 
                where I currently work, the term victim-survivor is used instead, both to respect the 
                fact that one can identify as either or both and to encompass the fact that clients 
                have suffered because of sexual violence but have simultaneously lived through it. There 
                are also those who may not want to label themselves at all, and that too should be 
                respected.<br>
            </p>

            <p>
                <br>Additionally, as someone who has followed both the national and global impact of the 
                #MeToo movement, I have noticed that the narrative of speaking out as a precursor to or 
                method of healing from sexual violence appears to be one of the dominant discourses. 
                Speaking out can be empowering, freeing, and can be used a powerful tool to reclaim your 
                lived experiences and sense of self. However, it is harmful to push the notion of 
                speaking out as an absolute necessity if one wants to heal from trauma. There are various 
                reasons victims/survivors may not speak out, including fear of backlash, further violence, 
                or disbelief from family, friends, their community, the law, etc. Some may not want to engage 
                with a strenuous and at times re-traumatizing justice process. Some may not feel ready to speak 
                out and waiting until they do disclose information regarding their assault is a way of controlling
                their mental health. So again, while some people may speak out immediately after experiencing sexual 
                violence, some speak out years or even decades later, some do not at all, and forcing a 
                victim/survivor to do so at a time that is not right for them could end up being more harmful than 
                helpful. Also, some victims/survivors also speak out — but to a friend, to a relative, to a counselor, 
                and not necessarily to a media source or larger audience, and these forms of speaking out also need 
                to be respected and considered a legitimate method of healing. Also important to remember is that 
                healing is not linear and there is no one-size-fits-all approach to healing from sexual violence, 
                and we need to trust that each person knows the best way for them to heal.
            </p>
        </div>
        <div class="column">
            <img src="../../../assets/images/redseeds.jpg">
        </div>
    </div>