<section class="section">
    <h1 class="title">50 Shades of Rape</h1>
    <p><b>Trigger/content warning:</b> rape, stealthing.</p>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">

            <p>
                <br><i>“We met on Tinder”</i> — the “once upon a time” of millennial-style dating. 
                As a Libra Rising and a Saggitarius Moon, I’m free spirited. In a dating culture that 
                seems to prioritize objectification in lieu of intentionality, I still, however, 
                prefer some kind of meaningful connection — regardless how noncommittal the relationship.<br>
            </p>

            <p><br>And we did connect.<br></p>

            <p>
                <br>To make long story short: I made it abundantly clear that I would not sleep with him unless he was wearing 
                a condom but he tricked me into thinking he was wearing one; the condom made it out of the wrapper, but he 
                had never put it on.  When I realized this, he told me he just got “caught up in the moment” and talked me 
                into continuing saying it wouldn’t matter since I had already been exposed to the risks of pregnancy and STIs. 
                When I finally was able to assert myself enough to push him off of me so I could leave, he told me it was messed 
                up that he had to finish himself off.<br>
            </p>

            <p>
                <br>It took multiple people telling me that I had been raped before I could stop rationalizing away why I did not 
                think I had been raped. Overall, I was most upset with myself. I couldn’t shake the disappointment that I had in 
                myself for not committing more firmly to the boundaries I had been making explicit to him for months. I told a 
                friend what had happened and how annoyed I was at the situation, and especially at myself. He told me that it 
                sounded like he had taken advantage of me. That even though I had made my expectations clear from the beginning, 
                he proceeded to whittle away at my consent. That what had happened was unethical and had the underlying characteristics 
                of rape.<br>
            </p>

            <p>
                <br>It’s not that I didn’t agree with him conceptually. As someone who has done education and advocacy work around 
                power-based violence including crisis intake work with survivors, I am particularly cognizant of how the violation 
                of consent is centralized when it comes to sexual violence. I grappled with whether rape was how I would characterize 
                what had happened to me because this situation and its aftermath felt benign compared to past experiences of sexual 
                violence.<br>
            </p>

            <p>
                <br>The first time I had been raped, I experienced overt force and violence. I was incredibly disoriented and the only 
                thing I could initially feel was the physical pain in my body. My first breakdown, which occurred two or three days 
                later, ushered in a whole host of PTSD symptoms including bouts of crying and regular panic attacks without warning. 
                I was afraid to be alone and even though I had a solid support system around me, I felt completely isolated. I felt like 
                I had lost the ability to engage in any sort of conscious decision-making process. There were times where I could not 
                stop thinking about my rape and the only thing that seemed to turn off the constant flashbacks or recurring nightmares 
                was drinking until I blacked out. I had to take three incompletes that semester when I was supposed to be graduating 
                from college. Instead of finishing up my remaining course credits, I spent that following summer in bed, binge-watching 
                <i>Buffy the Vampire Slayer</i>. Being raped not only derailed my life-plan for over a year, it nearly destroyed me.<br>
            </p>

            <p>
                <br>This recent experience wasn’t violent in the same way and as such, I grappled with whether it was appropriate to 
                characterize this as rape. For the most part, I was still able to carry on with my day-to-day activities without 
                interruption. During the following days after, this situation crept up on me as incessant thoughts about what had 
                happened and intermittent periods of anxiety over my own inability to stick to my boundaries.<br>
            </p>

            <p>
                <br>At one point, I was picking up lunch and the man charging me for my order started making conversation about how 
                hot it was in the store. I was caught off guard with how hard my heart started beating and how unsafe I felt. This 
                felt irrational to me. That night, I texted my best friend and told her what happened. She told me I was raped and 
                I told her that even though the act is in itself was rape, I did not feel like I had been raped. She told me that 
                my subjective experience did not negate the fact that what had happened to me was in fact rape. The harm that 
                I experienced may not have incapacitated me but the incessant thoughts and the anxiety persisted. I began questioning 
                my trust in relationships where my attachments, since then, had felt perfectly secure and had a hard time trusting 
                myself and my own perception of reality.<br>
            </p>



        </div>
        <div class="column">
            <p>
                <br>The ambiguity I felt towards my situation is not uncommon for people who experience rape by deception, or other 
                forms of sexual assault that do not fit the stereotypical idea about what rape looks like and how it should feel. I 
                struggled with finding resources that accurately described my experience in this “gray area of rape,” and the closest 
                I could find were experiences around “stealthing” or the nonconsensual removal of a condom during sexual intercourse.<br>
            </p>
            
            <p>
                <br>In her report <i>“Rape-Adjacent”: Imagining Legal Responses to Nonconsensual Condom Removal</i> published in the Columbia 
                Journal of Gender and Law, Andrea Brodsky puts forth a legal framework around stealthing and demonstrates how this 
                practice transforms consensual sex into non-consensual sex. In an interview with Huffington Post, Brodsky 
                <a href="https://www.huffpost.com/entry/inside-the-online-community-of-men-who-preach-removing-condoms-without-consent_n_58f75eb2e4b05b9d613eb997?guccounter=1">states</a> that 
                she pursued this work after recognizing that “many of her friends were ‘struggling with forms of mistreatment by sexual 
                partners that weren’t considered part of the recognized repertoire of gender based violence.”<br>
            </p>

            <p>
                <br>From her <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2954726">study</a>, largely based on 
                interviews from people who had experienced stealthing, she found that “while many interviewed survivors who had 
                previously been raped, they did not see the condom removal as equivalent to sexual assault. Nevertheless, these 
                survivors still described their experiences to be ‘a clear violation of their bodily autonomy,’ ‘a disempowering, 
                demeaning violation of a sexual agreement,’ and a threat to their bodily agency and…a dignitary harm.” While many 
                of the interviewees felt that they had been violated, they all seemed to lack the language to describe and classify 
                their experiences.<br>
            </p>

            <p>
                <br>As part of her investigations into this practice, Brodsky looked into online resources that advocate stealthing, 
                and instructs readers how to successfully remove condoms during intercourse. She found that supporters of stealthing 
                advocate a general right to “spread their seed” and that regardless of the survivor or victim’s gender, “proponents of 
                stealthing root their support in an ideology of male supremacy in which violence is a man’s natural right.” Similar to 
                instances of more overt, more violent rape, stealthing is a symptom of toxic masculinity and a product of rape culture.<br>
            </p>

            <p>
                <br>Brodsky’s report has been <a href="https://www.vice.com/en_us/article/3kpdzn/the-author-of-the-stealthing-study-on-changing-how-we-talk-about-rape">recognized</a> 
                as pushing the dialogue around stealthing and other acts of “gray area sex” into the mainstream as well as changing the discourse around sexual assault. Her work has not only provided visibility 
                around the harm caused by this widespread practice and has <a href="https://www.newsweek.com/what-stealthing-lawmakers-california-and-wisconsin-want-answer-be-rape-610986">catalyzed discussions</a> 
                around how to treat stealthing within the legal realm. There has also been discourse as to whether or not it is appropriate to call these “gray area” instances 
                of violation an act of rape.<br>
            </p>

            <p>
                <br>In her article <i>“On Aziz Ansari and Sex That Feels Violating Even When It’s Not Criminal,”</i> author Emma Gray 
                <a href="https://www.huffpost.com/entry/aziz-ansari-sex-violating-but-not-criminal_n_5a5e445de4b0106b7f65b346">describes</a> 
                a past sexual experience where she she had made it clear that she did not want to continue. Before he left, 
                and before he asked her for consent, he stood over her and began masturbating. Gray states that she felt gross and 
                violated and describes feeling “frozen” and doing “counting exercises in [her] head until he came. And while she describes 
                wondering while so little had been paid to her discomfort, she states that she would not qualify this situation as sexual 
                assault, nor did she think her partner was “intentionally being thoughtless or harmful.”<br>
            </p>

            <p>
                <br>While it isn’t my place to tell someone who has experienced sexual violence how to classify their experiences, 
                it’s interesting to note that both her experience of dissociating during the moment and how she felt afterwards is not 
                uncommon in survivors or victims of sexual assault. From a legal standpoint, I would empathize with the skepticism and 
                minimal faith that Brodsky has <a href="https://www.vice.com/en_us/article/3kpdzn/the-author-of-the-stealthing-study-on-changing-how-we-talk-about-rape">expressed</a> 
                in regards to the criminal justice system and would similarly advocate for civil, 
                rather than criminal consequences for perpetrators of stealthing. In a post “Me Too” era, legislation around situations 
                that are “rape adjacent” should be nuanced, especially when blanket “rape by deception” laws 
                <a href="https://theconversation.com/guilty-verdict-in-sex-deception-case-may-be-bad-news-for-people-transitioning-to-a-new-gender-47617">have been used</a> to perpetuate 
                transphobia. But at a time where survivors and victims are still grasping at the appropriate vocabulary to make sense of 
                these ““gray areas,” it seems harmful to (1) deny that what happened to Ms. Gray, abstracted from her own subjective 
                experience, was in fact an act of sexual violence and (2) imply that sexual assault should be measured by the intent 
                of the perpetrator rather than the impact of the harm experienced by the survivor or victim. Above all, whether consent 
                is violated unintentionally, or through an act of fraud instead of an act of force, it doesn’t change the fact that what 
                happened was a blatant violation of consent and bodily autonomy.<br>
            </p>
        </div>
    </div>
</section>
