<section class="section">
    <h1 class="title">Self-care in the United States</h1>
    <h6 class="subtitle is-6">by Bexx Hale</h6>

    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <p>
                <br>Self-care is defined as any activity deliberately done in order to manage one’s mental, physical, and emotional health.  
                Practicing self-care allows you to maintain a healthy relationship with yourself and your body.  
                It produces positive feelings which, in turn, boost your confidence and self-esteem.  
                Self-care can also act as a reminder to you and to those around you that your needs and your well-being are important.  
                As a person who struggles with mental and physical challenges, self-care is a huge part of my life.  
                But also as a person who is currently unemployed because of her medical conditions and is unable to contribute 
                financially to the household, I often struggle with guilt surrounding the resources that I devote to self-care.<br>
            </p>

            <p>
                <br>Self-care can take almost any form.  The most common forms I practice are saying no and setting boundaries, 
                hot baths, and comfort foods.  Self-care can also take less common forms that can be unique to the individual.  
                For me, self-care comes in the form of five cats and a small fish tank.  Having pets provides me with a meaningful 
                activity which helps stave off some of the anxiety that just comes with being alive for me.  
                They also give me a reason to live.<br>
            </p>

            <p>
                <br>I started life as a lonely child and grew into a lonely adult.  I came from a small family which was essentially me, 
                my mother, and my sister, neither of whom I ever felt particularly close to.  I have always envied people with large 
                families.  Until my early twenties, I thought I wanted to have a big family.   After producing one child and coming to 
                the conclusion that one child was plenty, I expanded my cat family instead.  And I have taken a lot of heat for it.   
                Plenty of people think five cats is too many and have let me know it including my own mother.<br>
            </p>

            <p>
                <br>When I was last single and my living situation was up in the air, my mother’s immediate solution to my problem was to 
                get rid of the cats.  She suggested either A) leave the cats with my former partner never to see them again or B) dump some 
                of them or all of them at the shelter.  She could not fathom that my cats are my family, that my cats are my ‘ride or dies,” 
                and that they do earn their keep.  What Mom, and probably a lot of other people fail to realize, is that I struggle with 
                depression and suicidal ideation, and that my cats keep me alive.<br>

            </p>

            <p>
                <br>In addition to providing endless hours of companionship, entertainment, and unconditional love, the cats give me a 
                reason to live in a way that my human family does not.  I view pet ownership as a serious twenty-year commitment per cat.  
                All of my pets were rescued from sketchy situations and I have willingly dedicated myself to providing them with a high 
                quality of life.  Knowing that these guys are dependent on me, that they need me, keeps me going.  Not knowing what 
                would happen to them if something happened to me keeps me living.<br>
            </p>

            <p>
                <br>My new little aquarium with its five inhabitants is also part of my self-care.  For starters, it’s a bit of a trophy for 
                me commemorating a small victory of mine.  My significant other is often disapproving of my ideas about most everything, 
                including bringing an aquarium into the house.   I cannot work because of chronic migraines, therefore I have no money of 
                my own.  My SO does not give me disposable cash regularly and when he does, it is usually no more than twenty dollars at 
                a time.  Recently he gave me sixty dollars.  I asked him what it was for.  He said “spend it on whatever you want.”  
                So I did.  I went to PetSmart and bought myself an aquarium.  I also set it right by the bed, exactly where I wanted it to 
                go even though he asked me at least three times if I was sure that was where I wanted it to go.<br>
            </p>

            <p>
                <br>The aquarium, critters included, cost maybe fifty dollars total and it was money well spent.  In addition to three fish, 
                I have a giant snail and a ghost shrimp.  The pure joy I receive from watching the shrimp ride the snail as ze [the snail is 
                a hermaphrodite- ze and zir are zir pronouns] cruises up the side of the tank is immeasurable and well-worth the money that 
                went into making it happen.  The cats like the aquarium, too.  Watching them watch the fish is incredibly entertaining and 
                helps keep my mind out of the dark places.<br>
            </p>

            <p>
                <br>Another way I practice self-care is by teaching myself to self-soothe during times of stress, particularly when things 
                are beyond my control.  The most effective form of self-soothing for me is playing video games.  No matter how upset I am, 
                if I can just sit down and play my video game for an hour, the equivalent of doing something mindless and taking a break 
                from reality, I can usually get through whatever is causing me stress.  The only drawback that I have found is that some 
                games can be rather addictive.  I have to be mindful of whether I am self-soothing or just avoiding reality and 
                responsibility when I play. <br>
            </p>

            <p>
                <br>Because playing video games is probably not viewed by society as self-care, I have definitely experienced guilt 
                surrounding it.  My new favorite game which I downloaded a couple of weeks ago claims I have logged over 200 hours.  
                Some of that was self-care for sure.  I know I played for a couple hours after I got an upsetting phone call one day 
                and I played another time for a few hours when I was just mad and did not have anywhere constructive to take my anger.  
                I also play my video game a lot when I have migraines.  My meds make me feel awful and in the past, I have just 
                surrendered to them and taken a nap.  Now that I have this game, if the side effects of the meds and the pain of 
                the headache are not too bad, I can focus on the game instead of my discomfort and power through it without needing 
                a four to six-hour nap. <br>
            </p>

            <p>
                <br>I have had guilt about playing my game during my migraines even though I view it as self-care and I seem to lose less 
                time to headaches this way.  I felt guilt just the other day for playing my game during a migraine attack instead of helping 
                put the laundry away.  Nothing was said or done to produce the guilt; it was entirely self-induced.  Part of me felt that if 
                I could play a video game, then certainly I could help with the laundry.  The truth was that I did not feel good enough to 
                stand up, much less move around, so I didn’t.  I sat on my bed and played my game and tried not to feel guilty about it.<br>
            </p>
        </div>
        <div class="column">
            <p><br><img src="../../../../assets/images/selfcare.png"><br></p>

            <p>
                <br>Writing is another way I practice self-care.  I write fiction as a way to entertain myself.  
                I use my position at TPS to as a means of catharsis to express myself and my ideas about things.  
                I also write to an incarcerated person as a means of self-care.  I met Tony through the 
                <a href="https://prisonercorrespondenceproject.com/">Prisoner Correspondence Project</a>
                which assists queer inmates with finding pen pals.  
                We hit it off immediately and have been corresponding for about six months now.  
                Not only does this give me something meaningful to do with my time, but it also gives me something to look forward to.  
                Tony and I generally correspond through email but sometimes I get letters and drawings from him via snail mail which 
                is quite a treat. Tony and I have come to care for one another in a sibling sort of way.  He and I have a lot in common 
                and we have developed a real friendship.  He is someone I can confide in about my troubles and vice versa.  
                Having Tony in my life has been a very positive thing for me and mutually beneficial for both of us.  
                I know that I can tell him anything without fear of judgment and that he has my back.  
                Good friends are a big part of self-care no matter what form they take. 
            </p>

            <p>
                <br>According to Aisha Harris at Slate, the idea of self-care crossed over into the mainstream after the presidential 
                election of 2016.  In the week after the election, Americans googled the term “self-care” almost twice as often as they 
                had in years past.  Now that self-care has emerged from the shadows, I would like to take a look at how self-care is 
                practiced along a socioeconomic spectrum among non-men.  I want to how poor non-men self-care versus how more affluent 
                non-men self-care.  I also want to examine the guilt each experience related to the practice of self-care.<br>
            </p>

            <p>
                <br>I was inspired by this <a href="https://www.businessinsider.com/pictures-of-toys-around-the-world-2016-8">project from the Gapminder Foundation</a> 
                designed to give people a glimpse into the lives of children at every income level by revealing their favorite toy.  
                I would like to embark on a similar project related to self-care.  In order to do that, I need your help.  I have set up a 
                <a href="https://bexxhale.typeform.com/to/ydFVXn">survey</a> to collect data for the project.  
                There are 9 questions total with the majority of them being related to how the respondent practices self-care and what 
                level of guilt they experience related to practicing self-care.  There is also an option to leave an email address if 
                the participant would like to be informed when the final piece is published.  Participants’ privacy is a top priority.  
                If your responses are used, you will only be identified by a first name of your choosing and a general geographic location.  
                If you choose to participate, your email address and personal information will not be used beyond the parameters described 
                for this project.<br>
            </p>

            <p><br>Image courtesy of <a href="https://www.instagram.com/cloudy_thurstag/">@cloudy_thurstag</a>.<br></p>
        </div>
    </div>
</section>